<DOCTYPE html>
<html>
	<head>
		<title>ParseQ</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body ng-app="parseQ" ng-controller="MainController">
		<header>
			<h1>ParseQ App</h1>
		</header>
		<form class="top-form">
			<input class="input-box" ng-model="yourQuestion" placeholder="Question"/>
				<button ng-click="postData()">Post</button>
		</form>

		<h3><strong>In Queue</strong></h3>
		<div class="items" ng-repeat="question in questions | filter: {status: 'red'}"  ng-click="changeStatus(question.objectId)">
			{{question.question}}
		</div>

		<h3><strong>Being Helped</strong></h3>
		<div class="items" ng-repeat="question in questions | filter: {status: 'yellow'}">
			{{question.question}} <button class="done-button" ng-click="deleteQuestion(question.objectId)">Done</button>
		</div>



		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controllers/MainController.js"></script>

		<script src="js/services/defaultHeaders.js"></script>
		<script src="js/services/parseService.js"></script>
	</body>
</html>