/** {
	border: 1px solid red;
}*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

header {
	height: 12%;
	width: 100%;
	background: #b1b9b7;

}

h1 {
	font-family: "Myriad Set Pro", sans-serif;
	color: #FFF;
	font-size: 40px;
	text-align: center;
	vertical-align: center;
	padding-top: 20px;
}

.top-form {
	padding: 30px 0px 0px 30px;
}

.input-box {
	width: 250px;
	height: 28px;
	text-align: left;
	font-family: "Myriad Set Pro", sans-serif;
	font-size: 18px;
}

.headings {
	margin: 10px;
}

h3 {
	font-family: "Myriad Set Pro", sans-serif;
	margin-left: 40px;
	font-size: 30px;
}

.items {
	margin-left: 50px;
	padding-right: 10px;
	font-size: 24px;
	font-family: "Myriad Set Pro", sans-serif;
}

.done-button {
	height: 20px;
	width: 45px;
	margin-left: 10px;
}

.post-button {
	height: 20px;
	width: 45px;
	margin-left: 10px;
}




